<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android_gps.police"
    android:versionCode="1"
    android:versionName="1.0" >
    
     <permission 
        android:name="com.example.kavi.permission.MAPS_RECEIVE"/>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    
       <uses-feature 
        android:glEsVersion="0x00020000"
        android:required="true"/>
   
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android_gps.police.ScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GPS"
            android:parentActivityName=".ScreenActivity"/>
        <activity android:name=".MainActivity"
            android:parentActivityName=".GPS"/>
        <activity android:name=".PlaceDetailsActivity"
                  android:parentActivityName=".MainActivity"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data 
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD7-ThYu1Q4B7imO8eKJ0PJN46w_VhVRfU"/>
    </application>

</manifest>
